.ui{
    margin-top: 34.5rem;
}
input{
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 0.7rem;
    font-family: ubuntu;
    background-color: rgba(182, 137, 255, 0.658);
    font-weight: 500;
    font-size: large;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    border: rgb(192, 124, 255) solid 0.2rem;
}
.send_button{
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 0.05rem;
    border-radius: 25rem 25rem 25rem 25rem;
    padding: 0rem;
}
.instructions{
    position: fixed;
    background-color: rgba(182, 137, 255, 0.658);
    border: rgb(192, 124, 255) solid 0.2rem;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 0.5rem;
    font-family: ubuntu;
    font-weight: 500;
    font-size: large;
    margin-top: -34rem;
    margin-left: 27.2rem;
    margin-right: 0.5rem;
    color: rgb(8, 8, 8);
}